.slider{
   
}
.slick-slider{
    background-image: url("../../assets/image/sliderpic.png");
    background-position: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
}
.sliderhandle{
    height: 26rem;
}
.slick-bottom {
    color: aqua;
    margin-top: 5rem;
    padding-top: 5rem;
}
